# Dependencies
node_modules/
.pnp
.pnp.*

# Testing
coverage/

# Next.js
.next/
out/

# Production
build/
dist/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Exceptions for example files
!.env.example

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# IDEs
.vscode/
.idea/
